body{
padding:0px;
margin:0px;
background-color:black;
color:white;
}
a{
padding:0px;
margin:0px;
text-decoration:none;
color:black;

}
#logo{
background-color:black;
width:330px;
position:absolute;
left:35%;
top:0%;
}
#menubg{
background-color:white;
width:45%;
left:25%;
position:absolute;
top:127px;
height:30px;
}
#menu{
position:absolute;
top:6%;
color:black;
background:none;
height:30px;
width:100%;
}
@font-face{
font-family:aoncc;
src: url(aoncc.ttf);
}
#menu span{
margin-left:5%;
font-size:16pt;
font-weight:700;
}

#pagecontent{
height:70%;
top:160px;
position:absolute;
width:45%;
left:25%;
overflow:auto;
}


#ticker{
padding:0px;
margin:0px;
position:absolute;
width:100%;
bottom:0px;
height:25px;
background-color:white;
color:black;
}
#ticker p{
padding:0px;
margin-left:10px;
margin-bottom:0px;
width:96%;
font-weight:600;
position:absolute;
bottom:0px;
}